/* 一番上の大きな箱 */
#top {
  width: 800px;              /* 横幅800px */
  background-color: #dcc9f4; /* 背景色 */
  margin: 20px auto;         /* 上下20pxの余白＋中央寄せ */
  display: flex;             /* 子要素を横並びにする */
  justify-content: center;   /* 子要素を中央揃え */
  text-align: center;        /* 中のテキストを中央揃え */
}

/* 中の3つの小さい箱 */
.top-child {
  width: 20%;                /* 親要素の20%の幅 */
  background-color: #ffd9df; /* 背景色 */
  
}


#middle {
  width: 800px;             
  height: 800px;            
  background-color: #ffd9df; 
  margin: 20px auto;   
  position: relative;   
}

#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb; 
  position: absolute;      
}

#middle-child01 {
  top: 100px;
  left: 100px;
}

#middle-child02 {
  top: 300px;
  left: 300px;
}

#middle-child03 {
  top: 500px;
  left: 500px;
}

/* 一番下の大きな箱 */
#bottom {
  width: 800px;              /* 横幅800px */
  height: 300px;             /* 高さ300px */
  background-color: #87ceeb; /* 背景色（青） */
  margin: 0 auto;            /* 画面中央に配置 */
  position: relative;        /* 子要素のposition:absoluteの基準にする */
}

#bottom-child01,
#bottom-child02,
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  
}

#bottom-child02 {
  position: relative;
  left: 200px; 
}

#bottom-child03 {
  position: relative;
  left: 400px; /
}
